# Intellij IDEA files
*.iml
.idea/

# Vim
*.swp

# Class Objs
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
pkg/
src/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
